  @media only screen and (min-width: 768px) {
    [class*="col-"] {
      float: left;
      height: auto;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

 /* De header */
 #intro{
    width: 100%;
    background-color: rgb(253, 119, 16);
    background-position: center;
    text-align: center;
    padding: 80px 0;
    color: white;
  }

  /* Navigatiebalk */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(223, 96, 0);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(207, 91, 2);
  }

  /* Animatie */
  .toggler { width: 500px; height: 200px; position: relative; }
  #button { padding: .5em 1em; text-decoration: none; }
  #effect { width: 0px;  padding: 0.4em; position: relative; background: #fff; }

  /* Row */
  .row{
	display: flex;
  }

  #een{
	height: 100%;
  }

  /* Linker column */
  h2 {
	margin-top: 0;
	padding-top: 0.83em;
	padding-left: 0.4em;
  }

  p {
	padding-left: 0.4em;
  }

  .linkercolumn{
   background-color: rgb(234, 168, 135); 
   height: 100%;
  }
  
  .linkercolumn img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
  }

#blogartikelen {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

  /* Rechter column */
  .rechtercolumn{
    padding: 15px;
    clear: left;
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .rechtercolumn h2{
    color: rgb(212, 100, 13);
  }

  .rechtercolumn img{
    max-width: 30%;
    height: auto;
    padding: 15;
  }

  #hannah{
    float: right;
    margin-left: 5px;
    padding: 5px;
  }

  #jesse{
    float: left;
    margin-left: 5px;
    padding: 5px;
  }

.notbold{
    font-weight:normal
}

/* Contactformulier */
input[type="text"], input[type="email"], select, textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

textarea{
    height: 200px;
}

button{
    background-color:rgb(207, 91, 2);
    color: white;
    padding: 10px;
    border-color: rgb(207, 91, 2);
}

button:active{ 
    background-color: rgb(169, 73, 0);
}

#formID{
	padding: 10px;
}

/* Footer */
  footer {
    width:100%;
    background-color: rgb(223, 96, 0);
    clear: left;
    text-align: center;
    padding: 30px 0;
  }
  
@media only screen and (max-width: 600px) {
  .col { 
    display: block;
    width: 100%;
  }
}
  